@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #FFFFFF;
  --primary: #10194E;
  --secondary: #253AB4;
  --tertiary: #E0E0E0;
  --text: #A09D9D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-text: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EDEDED;
    --foreground: #0A0A0A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
